<form>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    {{input id="quantity" class="form-control" type="number" value=quantity min="0"}}
  </div>

  <div class="form-group">
    <label for="cost">Cost</label>
    {{input id="cost" class="form-control" type="number" value=cost min="0"}}
  </div>

  <div class="form-group">
    <label for="currencies">Currency</label>
    {{#x-select id="currencies" class="form-control" value=selectedCurrency}}
      {{#each currencies as |c|}}
        {{#x-option value=c}}{{c.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
</form>

<hr/>

<table class="table table-striped results">
  <tbody>
    {{#each currencies as |c|}}
      <tr>
        <td>{{c.name}} @ {{c.rate}}</td>
        <td class="{{c.name}}">{{c.symbol}}{{convert amount c.rate currency.rate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<button class="btn btn-primary" {{action 'pay'}}>Pay?</button>
