<form>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    {{input id="quantity" class="form-control" type="number" value=quantity min="0"}}
  </div>
  <div class="form-group">
    <label for="cost">Cost</label>
    {{input id="cost"  class="form-control" type="number" value=cost min="0"}}
  </div>
  <div class="form-group">
    <label for="currencies">Currency</label>
    {{#x-select id="currencies" class="form-control" value=selectedCurrency}}
      {{#each-in currencies as |currency rate|}}
        {{#x-option value=currency}}{{currency}}{{/x-option}}
      {{/each-in}}
    {{/x-select}}
  </div>
</form>

<hr/>

<table class="table table-striped results">
  <tbody>
    {{#each-in currencies as |currency rate|}}
      <tr>
        <td>{{currency}} @ {{rate}}</td>
        <td class="{{currency}}">{{convert amount rate selectedRate}}</td>
      </tr>
    {{/each-in}}
  </tbody>
</table>

<br/>

<button class="btn btn-primary" {{action 'pay'}}>Pay?</button>
